body {
    margin:20px;
    padding:0;
    text-align: center;
    font-weight: bold;
    
}

p {
    font-size: 20px;
    color: #000;
}

.card-title {
    color: black;
    font-size: 24px;
}

.project-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    column-gap: 25px;
    row-gap: 25px;
    grid-auto-flow: dense; 
    margin: 3% auto 0;
    padding-bottom: 25px;
}

.card-2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
    transition: 0.3s;
    border-radius: 2px;
    background-color: #F6BE60;
}

.card-1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
    transition: 0.3s;
    border-radius: 2px;
    background-color: #E9E1DC;
}

.card-item{
    width: 100%;
    height: 100%;
    position: relative;

}

.card-item .card{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.card-item .card-1{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card-item .card-1 image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}