body, html {
    color: #000;
    font-family: "mrs-eaves", serif;
    margin: 0;
    height: 100%;
    background-color: #FFFFFF;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

.bg {
    background-image: url(images/pinetree.jpg);
    height: 100%;
    background-position: top 25px center;
    background-repeat: no-repeat;
  }

#banner {
    text-align: center;
    height: 75px;
    background-color: #FFFFFF;
    color: black;
    border-bottom: 1px solid #E9E1DC;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: x-large;
    font-weight: bold;
    font-family: inherit;
}

#nav-container {
    margin: 0 0 0 0;
    padding: 0;
    height: 30px;
    list-style-type: none;
    border-bottom: 1px solid #E9E1DC;
    background-color: #FFFFFF;
    
}

#nav-list li {
    float: right;
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-flex;
}

#nav-list li a {
   
    color: #A23835;
    text-decoration: none;
    padding:  3px 5px 3px 5px;
    display: block;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

#nav-list li a:hover {
    color: #4863A0;
    border-bottom: 1px solid #E9E1DC;
    cursor: pointer;
}

.main-content {
    margin: 0;
    padding: 10px;
    background-color: #fff;
}

#footer {
    font-size: 1em;
    height: auto;
    width: 100%;
    border-top: 1px solid #E9E1DC;
    background-color: #FFFFFF;
    position: relative;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#nav-footer-list li {
    color: #4863A0;
    margin: auto;
    margin-bottom: 0;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    padding: 3px 5px 3px 5px;
    font-weight: bold;
}

#nav-footer-list li a {
   
    color: #4863A0;
    text-decoration: none;
}

#footer a:link {
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
    color: #A23835;
}

#copyright {
    text-align: center;
    font-size: .8em; 
}

/**
    Non-themed global styles.
 */
.assign-container {
    padding: 10px;
    
}

.assign-content {
    width: 900px;
    margin: 3% auto 0;
}

.assign-content-1
{
    display: grid;
    grid-template-columns: 75% 25%;
    padding: 10px;
    grid-gap: 20px;
    width: 900px;
    margin: 3% auto 0
}

.assign-results-text {
    text-align: center;
    font-size: 28px;
}

.app-header {
    text-align: center;
    font-weight: 48px;
    border: none;
    background-color: inherit;
    color: #4863A0;

}
.bucket-list {
    text-align: center;
}

.bucket-list ul {
    list-style-type: none;
    color: #4863A0;
    display: inline-block;
    text-align: center;
    font-size: 24px; 
    padding: 0 0 4px 23px;
    font-weight: bold;
    padding-bottom: 5px;

}

.passion {
    text-align: center;
}

.passion ul {
    text-decoration: none;
    color: #4863A0;
    display: inline-block;
    text-align: left;  
}

.passion li a {
    display: inline-block;
    text-align: left;
    color: #A23835;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 24px;  
}

.passion li a:hover {
    cursor: pointer;
    color: #4863A0;
}

.return-home:hover {
    background-color: #D6A800;
    color: #4F3674;
    
}

.return-home:visited {
    color: #3c275a;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: -15px;
}

.card-title {
    text-align: center;
    font-size: 36px;
    color: #A23835;
    font-weight: bold;
    padding-top: 15px;
}

.card-content {
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: #000;
}

.btn-primary {
    background-color: #4F3674;
    color: #fff;
}

.btn-primary:hover {
    background-color: #F6BE60;
    color: #4F3674;
}

.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.drop-down-menu {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form {
    display: inline-grid;
    grid-template-columns: auto;
}

.form-field {
    padding: 20px;
}

.full-width {
    width: 100%;
}

.quote {
   padding-top: 25%;
    color: #191A1A;
    font-family: "brush-script-std", sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    
    
}