/*
===================================================    
Title:  Assignment 1.3 - Environment Setup
Author: Professor Krasso
Date:  09 January 2022
Modified By: Orawan Rabampho
Description: Index.html for course GitHub assignments page 
Source:  
Material Design Icons - "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
How to Toggle - https://www.w3schools.com/howto/howto_js_toggle_like.asp
====================================================
*/

/* Light theme */ 
body.light-theme {
  --text-color: #000;
  --background-color: #fff;
  --anchor-color: #4f3674;
  --h1-background-color: #3c275a;
  --h1-border-color: #d6a800;
  --heading-background-color: #3c275a;
  --heading-color: #fff;
  --heading-border-color: #d6a800;
  --anchor-hover-color: #4f3674;
  --anchor-hover-background-color: #d6a800;
  --card-background-color: #fff;
  --card-title-color: #4f3674;
  --btn-background-color: #4f3674;
  --btn-color: #fff;
  --btn-hover-background-color: #d6a800;
  --btn-hover-color: #4f3674;
  --input-border-color: #ccc;
   /*Adding table variables to light-theme class.*/
   --table-header-background-color: #4F3674;
   --table-header-color: #fff;
   --table-border-color:#ddd;
   --table-hover-background-color: #D6A800;
   --table-hover-color: #4F3674;
}

/* Dark theme */
body.dark-theme {
  --text-color: #fafafa;
  --background-color: #303030;
  --anchor-color: #fff;
  --h1-background-color: #9c27b0;
  --h1-border-color: #9c27b0;
  --heading-background-color: #424242;
  --heading-color: #fff;
  --heading-border-color: #424242;
  --anchor-hover-color: #d176e1;
  --anchor-hover-background-color: #303030;
  --card-background-color: #424242;
  --card-title-color: #d176e1;
  --btn-background-color: #d176e1;
  --btn-color: #fff;
  --btn-hover-background-color: #7d4787;
  --btn-hover-color: #fff;
  --input-border-color: #303030;
  /*Adding table variables to light-theme class.*/
  --table-header-background-color: #d176E1;
  --table-header-color: #fff;
  --table-border-color:#303030;
  --table-hover-background-color: #7D4787;
  --table-hover-color: #fff;
}

/* HTML body styling according to theme selection.  
Theme setting from the body.(dark/light).theme */ 
body {
  font-family: 'Oswald', Verdana, Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--anchor-color);
  text-decoration: none;
}

a:hover {
  background-color: var(--anchor-hover-background-color);
  color: var(--anchor-hover-color);
}

h1 {
  color: var(--heading-color);
  background-color: var(--h1-background-color);
  padding: 10px;
  border: 1px solid var(--h1-border-color);
}

h2, h3, h4 {
  color: var(--heading-color);
  background-color: var(--heading-background-color);
  padding: 10px;
  border: solid 1px var(--heading-border-color);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: var(--card-background-color); /* added */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  text-align: center;
  font-size: 2em;
  color: var(--card-title-color); /* replaced */
  font-weight: 400;
}

.card-content {
  padding: 2px 16px;
}

/* Form styling */
.form { 
  display: inline-grid;
}

.form-field {
  padding: 20px;
}

/* Button styling */
.btn {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 32px;
  color: black;
}

.btn-primary {
  background-color: var(--btn-background-color); /* replaced */
  color: var(--btn-color); /* replaced */
}

.btn-primary:hover {
  background-color: var(--btn-hover-background-color); /* replaced */
  color: var(--btn-hover-color); /* replaced */
}

.full-width {
  width: 100%;
}

/* Input styling */
.input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--input-border-color); /* replaced */
  border-radius: 4px;
  box-sizing: border-box;
}

/* Drop-down-menu styling */
.drop-down-menu {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--input-border-color); /* replaced */
  border-radius: 4px;
  box-sizing: border-box;
}

/* Add table, th, td from WEB 231*/
.table {
  border-collapse:collapse;
  margin-bottom: 30px;
}

th {
  padding-top:12px;
  padding-bottom:12px;
  text-align: left;
  background-color: var(--table-header-background-color);
  color: var(--table-header-color);
  border: 1px solid var(--table-border-color);
  padding-top: 9px; 
  padding-bottom:9px;
  padding-left:9px;
  padding-right: 9px;
}

td {
  border: 1px solid var(--table-border-color);
  padding-top: 9px; 
  padding-bottom:9px;
  padding-left:9px;
  padding-right: 9px;
}

tr:hover{
  background-color: var(--table-hover-background-color);
  color: var(--table-hover-color);
  cursor: pointer;
}