/*
===================================================    
Title:  Assignment 4.2 - Calorie App
Author: Professor Krasso
Date:  30 January 2022
Modified By: Orawan Rabampho
Description: Create calorie convert app.
Source: 
Static data - https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Class_static_initialization_blocks
====================================================
*/

#foodList {
    float: left;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
}